<div class="flex flex-col gap-4 items-center justify-center h-screen">
    <h1 class="text-3xl">BMI Calculator</h1>
    <div class="flex gap-4 w-3/5">
        <button class="bg-red-200 p-4 w-3/6" [ngClass]="gender === 'male' ? 'bg-red-300' : ''" (click)="setGender('male')" >
            <span class="material-symbols-outlined">male</span>
            <p>Male</p>
        </button>
        <button class="bg-green-200 p-4 w-3/6" [ngClass]="gender === 'female' ? 'bg-green-300' : ''" (click)="setGender('female')" >
            <span class="material-symbols-outlined">female</span>
            <p>Female</p>
        </button>
    </div>
    <div class="flex gap-4 w-3/5">
        <div class="bg-blue-200 flex flex-col gap-2 items-center w-3/6 p-2">
            <p>Weight</p>
            <p>{{ weight }}</p>
            <div class="flex">
                <span class="material-symbols-outlined" (click)="substractWeight()" >remove</span>
                <span class="material-symbols-outlined" (click)="weight = weight + 1">add</span>
            </div>
        </div>
        <div class="bg-purple-200 flex flex-col gap-2 items-center w-3/6 p-2">
            <p>Age</p>
            <p>{{ age }}</p>
            <div class="flex">
                <span class="material-symbols-outlined" (click)="substractAge()">remove</span>
                <span class="material-symbols-outlined" (click)="age = age + 1">add</span>
            </div>
        </div>
    </div>
    <div class="flex gap-4 w-3/5">
        <div class="flex flex-col items-center bg-yellow-100 p-4 gap-2 w-3/6">
            <label for="height" class="inline-block">Height</label>
            <p>{{ height }}</p>
            <input type="range" class="transparent h-[4px] w-full cursor-pointer appearance-none border-transparent bg-neutral-200 dark:bg-neutral-600" id="height" min="100" max="220" [value]="height" (input)="changeHeight($event)" />
        </div>
        <button (click)="calculateBmi()" class="bg-orange-200 p-4 w-3/6">Calculate</button>
    </div>
    <h3 *ngIf="incomplete" class="text-2xl text-red-500">Select gender!</h3>
</div>