<div class="row">
  <div class="col-lg-4">
    <div class="list-group">
      <a (click)="playSound(1)" class="list-group-item list-group-item-action" style="background-color: red;"></a>
      <a (click)="playSound(2)" class="list-group-item list-group-item-action" style="background-color: orange;"></a>
      <a (click)="playSound(3)" class="list-group-item list-group-item-action" style="background-color: yellow;"></a>
      <a (click)="playSound(4)" class="list-group-item list-group-item-action" style="background-color: green;"></a>
      <a (click)="playSound(5)" class="list-group-item list-group-item-action" style="background-color: teal;"></a>
      <a (click)="playSound(6)" class="list-group-item list-group-item-action" style="background-color: blue;"></a>
      <a (click)="playSound(7)" class="list-group-item list-group-item-action" style="background-color: purple;"></a>
    </div>    
  </div>
</div>

<audio src="../assets/sonidos/note1.wav" controls>
  Your browser does not support the <code>audio</code> element.
</audio>
