<div class="flex flex-col justify-center items-center h-screen gap-4">
    <div class="flex">
        <input type="search" [(ngModel)]="city" class="text-lg text-slate-100 placeholder:text-slate-300 rounded-2xl bg-slate-700/50 backdrop-blur-md h-fit m-0 font-light py-2 px-4 w-full focus:outline-input" placeholder="Search city" />
        <button class="flex items-center p-2" [disabled]="city === ''" (click)="getWeather()" ><span class="material-symbols-outlined text-slate-700 text-3xl" >search</span></button>
    </div>
    <!-- <div class="flex">
        <div
        class="inline-flex rounded-md shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
        role="group">
        <button
          type="button"
          class="inline-block rounded-l bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:ring-0 active:bg-primary-700"
          data-te-ripple-init
          data-te-ripple-color="light">
          24hs
        </button>
        <button
          type="button"
          class="inline-block rounded-r bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:ring-0 active:bg-primary-700"
          data-te-ripple-init
          data-te-ripple-color="light">
          1 week
        </button>
      </div>
    </div> -->
    <div *ngIf="loading" class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]" role="status">
      <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"></span>
    </div>
    <div *ngIf="query && !loading" class="flex flex-col gap-8 bg-slate-700/50 backdrop-blur-md text-slate-200 w-4/5 max-w-xl p-8 rounded-xl">
        <p>Temperature: {{temperature}}ºC </p>
        <p>Humidity: {{humidity}}% </p>
        <p>Conditions: {{conditions}} </p>
    </div>
</div>