<app-filters 
[all]="countAll()" 
[males]="countMales()" 
[females]="countFemales()"
(filterChange)="onFilterChanged($event)"
></app-filters>

<div class="flex flex-col p-8 ">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">#</th>
                <th scope="col" class="px-6 py-4">First name</th>
                <th scope="col" class="px-6 py-4">Last name</th>
                <th scope="col" class="px-6 py-4">Sex</th>
                <th scope="col" class="px-6 py-4">Salary</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let employee of employeesList">
                <tr *ngIf="filter === 'all' || filter === employee.sex " class="border-b dark:border-neutral-500">
                  <td class="whitespace-nowrap px-6 py-4 font-medium">{{ employee.id }}</td>
                  <td class="whitespace-nowrap px-6 py-4">{{ employee.name }}</td>
                  <td class="whitespace-nowrap px-6 py-4">{{ employee.lastName }}</td>
                  <td class="whitespace-nowrap px-6 py-4">{{ employee.sex }}</td>
                  <td class="whitespace-nowrap px-6 py-4">{{ employee.salary | currency }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>